// ==========================================================================
// Definitions color
// ==========================================================================

// Primary Colors
$primaryBase        : #3e98cc !default; //$primary-brand
$primaryLight       : #3e98cc !default; //$primary-brand-light
$primaryDark        : #005f9d !default; //$primary-brand-dark

// Secondary colors
$secondaryBase      : #6fb453 !default; //$tertiary-brand
$secondaryLight     : #9ee060 !default; //tertiary-brand-light
$secondaryDark      : #609c47 !default; //$tertiary-brand-dark