// ==========================================================================
// Definicion de los Colores que se van a utilizar
// ==========================================================================

// Colores Primarios
$primaryBase        : #3e98cc !default;
$primaryLight       : #3e98cc !default; 
$primaryDark        : #005f9d !default;

// Colores Secundarios
$secondaryBase      : #6fb453 !default; 
$secondaryLight     : #9ee060 !default;
$secondaryDark      : #609c47 !default;

//Color de Error
$errorBase          : #e74c3c !default;